<!DOCTYPE html>
<html lang="fr">

<head>
    {# - 1 - RENDER > HTML > HEAD > META > PARAMS - #}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Description of your page">
    <meta name="keywords" content="PHP, MVC, SEO, Tutorial">
    <meta name="author" content="Steven F">
    <base href="{{ baseUri|e }}">
    <link rel="shortcut icon" href="{{ encore_asset('img/about/logos/favicon.ico') }}">

    {# - 2 - RENDER > HTML > HEAD > TITLE > BLOCK - #}
    <title>{% block title %}{{ entrepriseTitle }}{% endblock %}</title>

    {# - 3 - RENDER > HTML > HEAD > LINK > CSS > GLOBAL - #}
    <link rel="stylesheet" href="{{ encore_asset('global.css') }}">

    {# - 4 - RENDER > HTML > HEAD > LINK > CSS > CURRENT_PAGE - #}
    {% if current_page is defined %}
    <link rel="stylesheet" href="{{ encore_asset(current_page ~ '.css') }}">
    {% endif %}

    {# - 5 - RENDER > HTML > HEAD > BLOCK > * - #}
    {% block head %}{% endblock %}
</head>

{# - 6 - RENDER > HTML > BODY #}
{# - 6 - PS: data-current-page > document.body.dataset.currentPage; (voir app.js) #}
<body data-current-page="{{ current_page|default('default') }}">

    {# - 6 - RENDER > HTML > BODY > TWIG > COMPONENT > HEADER - #}
    {% include '@Shared/components/header.twig' ignore missing %}

    {# - 7 - RENDER > HTML > BODY > CONDITION > CSS > NAVBAR - #}
    <main class="{{ current_page }}">
        <h1 class="sr-only">Présentation de la page {{ current_page }}</h1>
        {% block content %}{% endblock %}
    </main>

    {# - 8 - RENDER > HTML > BODY > TWIG > COMPONENT > FOOTER - #}
    {% include '@Shared/components/footer.twig' ignore missing %}

    {# - 9 - RENDER > HTML > BODY > SCRIPT > BLOCK - #}
    {% block javascripts %}
    <script src="{{ encore_asset('runtime.js') }}"></script>
    <script src="{{ encore_asset('app.js') }}" defer></script>
    {% endblock %}
</body>
</html>