{% extends "@Shared/layout/base.twig" %}

{% block title %}Gallery - {{ parent() }}{% endblock %}

{% block content %}
<div class="section-gallery-index-content">
	<h1>Bienvenue dans l'index du controller : GalleryIndex.</h1>
</div>
	<div class="section-gallery-index-images reveal slide-down">
		<div class="image">
			<img src="{{ encore_asset('img/home/image1.avif') }}" alt="Image de présentation de la galerie">
		</div>	<div class="image">
			<img src="{{ encore_asset('img/home/image1.avif') }}" alt="Image de présentation de la galerie">
		</div>	<div class="image">
			<img src="{{ encore_asset('img/home/image1.avif') }}" alt="Image de présentation de la galerie">
		</div>	<div class="image">
			<img src="{{ encore_asset('img/home/image1.avif') }}" alt="Image de présentation de la galerie">
		</div>	<div class="image">
			<img src="{{ encore_asset('img/home/image1.avif') }}" alt="Image de présentation de la galerie">
		</div>	<div class="image">
			<img src="{{ encore_asset('img/home/image1.avif') }}" alt="Image de présentation de la galerie">
		</div>	<div class="image">
			<img src="{{ encore_asset('img/home/image1.avif') }}" alt="Image de présentation de la galerie">
		</div>	<div class="image">
			<img src="{{ encore_asset('img/home/image1.avif') }}" alt="Image de présentation de la galerie">
		</div>
		<div class="image">
			<img src="{{ encore_asset('img/home/image1.avif') }}" alt="Image de présentation de la galerie">
		</div>	<div class="image">
			<img src="{{ encore_asset('img/home/image1.avif') }}" alt="Image de présentation de la galerie">
		</div>	<div class="image">
			<img src="{{ encore_asset('img/home/image1.avif') }}" alt="Image de présentation de la galerie">
		</div>	<div class="image">
			<img src="{{ encore_asset('img/home/image1.avif') }}" alt="Image de présentation de la galerie">
		</div>	<div class="image">
			<img src="{{ encore_asset('img/home/image1.avif') }}" alt="Image de présentation de la galerie">
		</div>	<div class="image">
			<img src="{{ encore_asset('img/home/image1.avif') }}" alt="Image de présentation de la galerie">
		</div>	<div class="image">
			<img src="{{ encore_asset('img/home/image1.avif') }}" alt="Image de présentation de la galerie">
		</div>	<div class="image">
			<img src="{{ encore_asset('img/home/image1.avif') }}" alt="Image de présentation de la galerie">
		</div>
	</div>
</div>
{% endblock %}

