{% extends "layout.twig" %}

{% block head %}
<script>
  loadCss("{{ base_url_assets_css ~ 'indexStylesheet.min.css' }}");
  loadCss("{{ base_url_assets_css ~ 'sliderStylesheet.min.css' }}");

  document.addEventListener("DOMContentLoaded", function() {
    const cell = document.querySelector('.cell.border-bottom');
    const navbar = document.querySelector('.full-navbar');

    if (cell) {
      cell.style.borderBottom = "2px solid white";
    }

    if (navbar) {
      navbar.style.position = "fixed";
    }
  });
</script>
<script defer src="{{ base_url_assets_js ~ 'slider.min.js' }}"></script>
<script defer src="{{ base_url_assets_js ~ 'apparition.js' }}"></script>
<script defer src="{{ base_url_assets_js ~ 'smoothScroll.js' }}"></script>
<script async src="{{ base_url_assets_js ~ 'onTop.js' }}"></script>
{% endblock %}

{% block content %}
<main>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <div id="slider" class="slider">
    {% for i in 1..3 %}
    <div class="slide_slide">
      <video class="slider_video" autoplay muted width="100%">
        <source src="{{ base_url_assets_webm ~ 'video' ~ i ~ '.webm' }}" type="video/webm" />
      </video>
      <div class="slider_texte_position">
        {% if i == 1 %}
        <h1 class="slider_texte">Laissez vous guider <br>par nos experts. <br>Partouts en Belgique.</h1>
        {% elseif i == 2 %}
        <h1 class="slider_texte">Un service de qualité <br><b>sans engagements.</b></h1>
        {% else %}
        <h1 class="slider_texte">Des offres et des produits <br>défiants toutes concurrences.</h1>
        {% endif %}
        <br>
        <a class="discover" href="message">Contactez-nous</a>
        <br><br>
      </div>
    </div>
    {% endfor %}
    <div class="left-arrow" onclick="prevSlide()"></div>
    <div class="right-arrow" onclick="nextSlide()"></div>
  </div>

  <div class="cell-presentation">
    <div class="description">
      <div class="description-texte">
        L'experience Belge entre les mains des professionnels <b>depuis 20 ans</b>
      </div>
    </div>
    <div class="texte-title-presentation">Économique - Écologique - Pratique</div>
    <div class="description-texte">Demandez une expertise <b>GRATUITEMENT</b></div>

    <div class="test">
      <div class="masonry slide"><br>
        {% for i in 0..2 %}
        <div class="cell-masonry slide">
          <a href="{{ i == 0 ? 'devis' : 'gallery' }}">
            <figure class="masonry-brick">
              <div class="text-centered">Afficher</div>
              <img class="article-image"
                src="{{ base_url_assets_gallery ~ files_public[i] }}"
                alt="image article {{ i }}">
            </figure>
            <div style="color: black;font-weight:bold;">
              {{ ['ÉTABLIR UN DEVIS', 'INSTALLATION', 'CATALOGUE'][i] }}
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <br><br>
  <div class="descriptionbis">
    <div class="descriptionbis-image">
      <img style="width:100%;" src="{{ base_url_assets_img ~ 'ouvriers.jpg' }}" alt="ouvriers">
    </div>
    <div class="descriptionbis-texte">
      <h2>Notre savoir faire:</h2> </br>
      <h3>
        loremlorem Lorem ipsum dolor sit amet consectetur adipisicing elit...
        (reste du texte ici)
      </h3>
    </div>
  </div><br>
  <h2 style="text-align:center;">Localisation du siège:</h2>
  <div style="text-align:center;">
    <iframe width="50%" src="https://www.google.com/maps/embed?...">
    </iframe>
  </div><br><br>
</main>
{% endblock %}