<footer>
  <div class="footerbackground">
    <br />
    <br />
    <br />

    <div class="footerstructureleft">
      <br>
      <div class="logoCenter">
        <figure>
          <a href="#">
            <img class="logo" src="{{ base_url_assets_img_logos ~ 'facebook-logo.png' }}" alt="facebook-logo">
          </a>
          <figcaption>{{ base_entreprise_name }}Face</figcaption>
        </figure>
        <figure>
          <a href="#">
            <img class="logo" src="{{ base_url_assets_img_logos ~ 'instagram-logo.png' }}" alt="instagram-logo">
          </a>
          <figcaption>{{ base_entreprise_name }}Insta</figcaption>
        </figure>
      </div>
    </div>

    <div class="footerstructureright">
      <h4>Contact:</h4>
      <h5>{{ base_entreprise_title }} {{ base_entreprise_type }}</h5>
      <h5>Téléphone: 064/67.32.00</h5>
      <h5>Email: {{ base_entreprise_mail }}</h5>
      <h5>TVA : BE0664544624</h5>

      <a href="cgu">Lire les conditions générales d'utilisation du site (CGU)</a>
    </div>

    <div style="clear:both;"></div>
    <br />
    <div class="presentation">
      <hr>
    </div>

    <p style="color:darkgrey;text-align:center;">
      &copy; 2024 {{ base_entreprise_name }}. All rights reserved.
    </p>
    <br>
  </div>
</footer>
</body>

</html>