{% extends "layout.twig" %}
{% block title %}Liste des produits Procural{% endblock %}
{% block head %}
<script>
    loadCss("{{ base_url_assets_css ~ 'procuralStylesheet.css' }}");

    document.addEventListener("DOMContentLoaded", function() {
        const cell = document.getElementsByClassName('cell border-bottom')[1];
        if (cell) {
            cell.style.borderBottom = "2px solid darkgrey";
        }
    });
</script>
{% endblock %}

{% block content %}
<!-- GALLERY -->
<div class="div-center">
    <div class="logo-proc">
        <img src="{{ base_url_assets_img_logos ~ 'procural-3.jpg' }}" alt="chassis"><br><br>
        <h3>
            L'aluminium, en tant que matériau, garantit également la fiabilité de fonctionnement.
            Les constructions en aluminium ont d'excellentes propriétés mécaniques - elles sont très stables et résistantes.
            L'aluminium est également léger (c'est un matériau trois fois plus léger que l'acier),
            et en même temps il ne nécessite pas de renfort supplémentaire, comme le PVC.
        </h3>
    </div>

    <div class="masonry masonry--h">
        {% for model in models %}
        <a href="product/detail/{{ model.product_id|url_encode }}-{{ entreprise_product_url_seo }}-{{ model.category_name|e }}-{{ model.name|url_encode }}">
            <div class="masonry-brick masonry-brick--h item" data-category="{{ model.category_name }}">
                <figure>
                    <div class="logo-pro-positionn">
                        <img class="logo-pro lazy-content" data-src="{{ base_url_assets_img_logos ~ 'procural-3.jpg' }}" alt="PROCURAL">
                    </div>
                    <div class="text-centered">AFFICHER</div>
                    <img class="preview-logo lazy-content" data-src="{{ base_url_assets_img_materials ~ model.img_link }}">
                </figure>
                <table>
                    <thead>
                        <tr>
                            <th>Caractéristiques</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>Nom:</b></td>
                            <td>{{ model.name }}</td>
                        </tr>
                        <tr>
                            <td><b>Type:</b></td>
                            <td>{{ model.category_name }}</td>
                        </tr>
                        <tr>
                            <td><b>Provenance:</b></td>
                            <td>PROCURAL</td>
                        </tr>
                        {# Ajoute plus de lignes si nécessaire #}
                    </tbody>
                </table>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
<br><br>
{% endblock %}