<footer>
  <div class="section-footer-contact">

    {# Contact #}
    <div class="contact-social-media" style="border-right: 1px solid grey;">
      <figure>
        <a href="https://www.facebook.com/profile.php?id=61580757421154">
        <img style="width:30px;" src="{{ encore_asset('img/layouts/logos/facebook.png') }}" alt="Facebook Renove Construct Belgique"></img>
        </a>
        <figcaption>{{ base_entreprise_name }}Facebook</figcaption>
      </figure>
      <figure>
        <a href="https://wa.me/32492759577">
        <img style="width:30px;" src="{{ encore_asset('img/layouts/logos/whatsapp.png') }}" alt="Contact WhatsApp entreprise photovoltaïque Belgique"></img>
        </a>
        <figcaption>{{ base_entreprise_name }}WhatsApp</figcaption>
      </figure>
    </div>

    {# Adresse #}
    <div class="contact-adress">
      <h4>Contact:</h4>
      <h5>{{ base_entreprise_title }} {{ base_entreprise_type }}</h5>
      <h5>Téléphone: 0492/75.95.77</h5>
      <h5>Email: zh.belgium@icloud.com</h5>
      <h5>TVA : BE0439915784</h5>
      <h5>Addresse: Rue des brasseries2, 7170 Manage Belgique</h5>
      <a href="cgu">Lire les conditions générales d'utilisation du site (CGU)</a>
    </div>
  </div>

  {# Copyright #}
  <div class="section-footer-copyright">
    <div class="copyright">
      <p>
        &copy; 2024 {{ base_entreprise_name }}. All rights reserved.
      </p>
    </div>
  </div>
</footer>