{% extends "@Shared/layout/base.twig" %}

{% block title %}Détail du produit - {{ parent() }}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/product/list">Produits</a></li>
    <li class="breadcrumb-item"><a href="/product/list/{{ model.category_name }}">{{ model.category_name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ model.name }}</li>
  </ol>
</nav>
<br>

<div class="thumbnails">
  <div class="left-div image-description"><br><br>
    {% if model.isProcural == '1' %}
      <img class="lazy-content" data-src="{{ encore_asset('img/suppliers/procural.jpg') }}" alt="procural">
    {% endif %}
    <br><br>
    <h2><b>{{ model.name }}</b></h2>
    <p>
      Gamme destinée pour les maisons, restaurants reliant l’espace intérieur à l’extérieur. <br><br>
      Gammes à 3 chambres assurant une haute résistance des profilés et possibilité de grandes dimensions (L ≤ 1200 mm ou H ≤ 3500 mm, poids max vantail - 120 kg).<br><br>
      Haute isolation thermique grâce aux barrettes thermiques de 34 mm pour dormants et vantaux.<br>
      Quincaillerie spécialisée pour haute fonctionnalité.<br>
      Plage de vitrage : 22 - 60 mm.<br>
      Choix libre du seuil.<br>
      Possibilité de liaison avec autres gammes PROCURAL PE78N.
    </p>
  </div>

  <div class="middle-div">
    <img id="mainImage" class="image-container lazy-content reveal big-slide-right" data-src="/uploads/img/products/large/{{ model.images[0].path }}" alt="{{ model.name }}"><br>
    <div class="image-container-texte">
      Prenez l'image en main en cliquant dessus<br>Zoomez avec la roulette<br>Parcourez les recoins de l'image en la déplaçant
    </div>
  </div>

  <div class="right-div">
    <!-- PREVIEWS -->
    <div class="container">
      <div class="parent">
        <h2 class="title-button">Autres aperçus</h2>
        <div class="hidden-content">
          <div class="previews">
            {% for p in previews %}
              <figure class="bottom-div">
                <img class="thumbnail lazy-content" data-src="{{ base_url_assets_img_materials ~ p.link|e }}" alt="{{ p.name|e }}">
              </figure>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <!-- FICHE TECHNIQUE -->
    <div class="container">
      <div class="parent">
        <h2 class="title-button">Fiche technique</h2>
        <div class="hidden-content">
          <b>Nom du produit :</b><br>
          <hr>{{ model.name }}
          <br><br><br>
          <b>Type de produit :</b><br>
          <hr>Aluminium
          <br><br><br>
          <b>Fabricant :</b><br>
          <hr>Ponzio
          <br><br><br>
          <b>Profilé aluminium :</b>
          <hr>EN AW-6060 selon PN-EN 573-3 état T6 ou T66 selon PN-EN 515 Al Mg Si 0,5 F22 selon les normes DIN 1725 T1, DIN 17615 T1
          <br><br>
          <b>Joints :</b>
          <hr>Caoutchouc synthétique EPDM selon la norme DIN 7863 et ISO 3302-01, E2
          <br><br>
          <b>Dimensions max du vantail :</b>
          <hr>L 1700 x H 2200 mm, L 1300 x H 3000 mm
        </div>
      </div>
    </div>

    {% if scheme_pdf_exists %}
      <!-- PDF -->
      <div class="hrbis"></div>
      <div class="container">
        <div class="parent">
          <h2 class="title-button">Schémas disponibles (PDF)</h2>
          <div class="hidden-content">
            <a href="{{ scheme_pdf_url }}" target="_blank">
              <ul>
                <li>{{ file.name }}</li>
              </ul>
            </a>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>

{% if scheme_pdf_exists %}
  <div class="quality">
    <br><br><br><br> Schéma de la pièce : <br><br><br><br>
    <iframe id="pdfIframe" src="{{ scheme_pdf_url }}" width="100%" height="600px">Ce navigateur ne supporte pas les iframes.</iframe>
    <br><br>
  </div>
{% endif %}
{% endblock %}
