{% extends "@Shared/UI/Views/layout/base.twig" %}

{% set current_page = 'home' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block content %}

{# Section sliders #}
<section class="section-slider" id="slides-js" aria-label="Slider de présentation">
  {% for i in 1..3 %}

  {# Sliders - Slider #}
  <div class="slider-slide">

    {# Slider - Vidéo #}
    <video autoplay muted loop playsinline preload="auto" width="100%">
      <source src="{{ encore_asset('webm/home/video' ~ i ~ '.webm') }}" type="video/webm" />
    </video>

    {# Slider - Texte #}
    <div class="slide-texts"> 
      {% if i == 1 %}
        <h2 class="reveal slide-up">Solutions et expertises en <br><b>chassis</b> & <b>panneaux solaire</b>. <br>Partouts en <b>Belgique</b>.</h2>
      {% elseif i == 2 %}
        <h2 class="reveal slide-up"><b>Des solutions sur mesure</b> <br>pour protéger votre <b>énergie.</b></h2>
      {% else %}
        <h2 class="reveal slide-up">Des solutions <b>économiques</b><br> <b>depuis plus de 40 ans!</b></h2>
      {% endif %}
    </div>
      
    {# Slider - Section contact #}
    <div class="slide-contacts">   

      {# Slider - Contact #}
      <div class="slide-contacts-button">
        <a href="contact">Contactez-nous</a>
      </div>
      
      {# Slider - Contact - Médias sociaux #}    
      <div class="slide-contacts-social-media"><h4>Retrouvez-nous sur :</h4>
        <a href="/">
          <img style="width:30px;" src="{{ encore_asset('img/layouts/logos/facebook.png') }}" alt="facebook-logo">
        </a>
        <a href="/">
          <img style="width:30px;" src="{{ encore_asset('img/layouts/logos/instagram.png') }}" alt="instagram-logo">
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="slider--arrow-left slider--event-prev"></div>
  <div class="slider--arrow-right slider--event-next"></div>
</section>

{# Section catégories #}
<section class="section-home-categories reveal slide-down">
  <div class="title">
    <h1>Découvrez nos services et nos réalisations:</h1>
    <h3>Spécialistes en installation de panneaux solaires et en fabrication de châssis personnalisés, nous intervenons dans toute la Belgique.</h3>
  </div>
  <div class="categories">
    <div class="category">
      <a href="/">
        <img src="{{ encore_asset('img/home/image11.jpg') }}" alt="Établir un devis"><br>
        <h4>Établir un devis</h4>
      </a>
    </div>
    <div class="category">
      <a href="/">
        <img src="{{ encore_asset('img/home/image12.jpg') }}" alt="Installation"><br>
        <h4>Installation</h4>
      </a>
    </div>
    <div class="category">
      <a href="/">
        <img src="{{ encore_asset('img/home/image13.jpg') }}" alt="Catalogue"><br>
        <h4>Catalogue</h4>
      </a>
    </div>
  </div>
</section>

{# Section contact us #}
<section class="section-home-contactus reveal slide-up">
  <a href="/message">
    <h3>Des questions ? <b>Contactez-nous</b></h3>
  </a>
  <h3>Nos experts sont à votre disposition pour toute demande d'information</h3>
</section>

{# Section images #}
<section class="section-home-images">
<div class="image">
    <img src="{{ encore_asset('img/home/image3.jpg') }}" alt="Image description">
    <div class="overlay">
        <h3>Installation de panneaux solaires</h3>
        <p>Vérifier la galerie lié à cette catégorie</p>
    </div>
</div>
<div class="image">
    <img src="{{ encore_asset('img/home/image2.jpg') }}" alt="Image description">
    <div class="overlay">
        <h3>Installation de chassis, portes et fenêtres</h3>
        <p>Vérifier la galerie lié à cette catégorie</p>
    </div>
</div>
<div class="image">
    <img src="{{ encore_asset('img/home/image1.jpg') }}" alt="Image description">
    <div class="overlay">
        <h3>Réalisation de chassis sur mesure</h3>
        <p>Établissez un devis et envoyez-le à nos experts</p>
    </div>
</div>
</section>


{# Section why us #}
<section class="section-home-whyus">
  <h3><b>Pourquoi nous choisir aujourd'hui ?</b></h3>
  <p>
    Dans un contexte où les coûts énergétiques ne cessent d’augmenter et où l’efficacité de votre habitation est essentielle, il devient primordial de s’appuyer sur des solutions fiables et durables. 
    Notre entreprise vous propose des installations robustes, conçues avec des matériaux de haute qualité, tout en maintenant des tarifs compétitifs adaptés à tous les budgets. 
    <br><br>
    Grâce à notre expérience de plus de 40 ans et à notre équipe d’experts qualifiés, nous garantissons des prestations durables qui optimisent votre confort et vos économies d’énergie. 
    Choisir nos services, c’est opter pour la tranquillité d’esprit, la performance et un investissement rentable pour votre maison ou votre entreprise.
  </p>
  <img src="{{ encore_asset('img/home/renoveconstructlittle.jpg') }}" alt="ouvriers">
</section>


{# Section history #}
<section class="section-home-history">
  <div class="image">
    <img src="{{ encore_asset('img/home/bureau.jpg') }}" style="opacity:0.9;" alt="ouvriers">
  </div>
  <div class="texte">
    <h3><b>Notre histoire</b></h3>
    <br><br>
    <p>
      Depuis plus de 40 ans, notre entreprise est un acteur de confiance dans le domaine des solutions énergétiques fiables. 
      Nous nous spécialisons dans les installations photovoltaïques et les menuiseries à double ou triple vitrage, garantissant confort et performance. 
      <br><br>
      Nos experts vous accompagnent à chaque étape, en écoutant vos besoins spécifiques pour proposer des solutions économiques et durables. 
      Implantés à Manage, en Belgique, nous sommes fiers de servir notre communauté locale et de vous offrir un service personnalisé et réactif. 
      N'hésitez pas à nous contacter : votre satisfaction et votre tranquillité énergétique sont notre priorité.
    </p>
  </div>
</section>

{# Section avis #}
<section class="section-home-avis">
  <div class="avi">
    <h3><b>4/5</b></h3><br>
    <p>
        "Loremipsum Lorem ipsum dolor sit amet consectetur adipisicing elit...Loremipsum Lorem ipsum dolor sit amet consectetur adipisicing elit"
    </p>
  </div>
  <div class="avi">
    <h3><b>5/5</b></h3><br>
    <p>
        "Loremipsum Lorem ipsum dolor sit amet consectetur"
    </p>
  </div>
  <div class="avi">
    <h3><b>4,5/5</b></h3><br>
    <p>
        "Loremipsum Lorem ipsum dolor sit amet consectetur adipisicing elit..."
    </p>
  </div>
  <div class="avi">
    <h3><b>5/5</b></h3><br>
    <p>
        "Loremipsum Lorem"
    </p>
  </div>
  <div class="avi">
    <h3><b>3,5/5</b></h3><br>
    <p>
        "Loremipsum Lorem dolor sit amet"
    </p>
  </div>
  <div class="avi">
    <h3><b>2/5</b></h3><br>
    <p>
        "Dolor sit amet Loremipsum Lorem dolor sit amet"
    </p>
  </div>
</section>
{% endblock %}