<!DOCTYPE html>
<html lang="fr">

<head>
    {# Configuration de base #}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Description of your page">
    <meta name="keywords" content="PHP, MVC, SEO, Tutorial">
    <meta name="author" content="Steven F">
    <link rel="shortcut icon" href="{{ base_url_assets_img ~ 'favicon.ico' }}">
    <base href="{{ baseUri|e }}">
    <title>{% block title %}Mon site{% endblock %}</title>

    {# Scripts et feuilles de style présents sur toute les pages #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ base_url_assets_js ~ 'submenuRoll.js' }}"></script>
    <script src="{{ base_url_assets_js ~ 'headerJavascript.js' }}"></script>
    <script src="{{ base_url_assets_js ~ 'lazyload.js' }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ base_url_assets_css ~ 'headerStylesheet.css' }}">
    <link type="text/css" rel="stylesheet" href="{{ base_url_assets_css ~ 'footerStylesheet.css' }}">
    <link type="text/css" rel="stylesheet" href="{{ base_url_assets_css_templates ~ 'lazyloadStylesheet.css' }}">

    {# Scripts et feuilles de style spécifiques à la page demandée #}
    {% block head %}{% endblock %}
</head>

<body>
    {# Ajout du header #}
    {% include 'layout/header.twig' ignore missing %}

    {# Contenu principal de la page demandée #}
    {% block content %}{% endblock %}

    {# Ajout du footer #}
    {% include 'layout/footer.twig' ignore missing %} 
    
    {# Scripts spécifiques à la page devant être appellés à la fin #}
    {% block javascripts %}{% endblock %}
</body>
</html>