{% extends "@Shared/layout/base.twig" %}

{% block title %}Détail du produit - {{ parent() }}{% endblock %}

{% block content %}
  <div class="section-detail-link">
    <div class="side-section"></div>
  
    {# Catégorie produit #}
    <div class="link">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/product/list">Produits</a></li>
          <li class="breadcrumb-item"><a href="/product/list/{{ model.category_name }}">{{ model.category_name }}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ model.name }}</li>
        </ol>
      </nav>
    </div>
    <div class="side-section"></div>
  </div>
  
  <div class="section-detail-product">
  
    {# Présentation produit #}
      <div class="description">
      <h2><b>{{ model.name }}</b></h2><br>
      <p>
        Gamme destinée pour les maisons, restaurants reliant l’espace intérieur à l’extérieur. <br><br>
        Gammes à 3 chambres assurant une haute résistance des profilés et possibilité de grandes dimensions (L ≤ 1200 mm ou H ≤ 3500 mm, poids max vantail - 120 kg).<br><br>
        Haute isolation thermique grâce aux barrettes thermiques de 34 mm pour dormants et vantaux.<br>
        Quincaillerie spécialisée pour haute fonctionnalité.<br>
        Plage de vitrage : 22 - 60 mm.<br>
        Choix libre du seuil.<br>
        Possibilité de liaison avec autres gammes PROCURAL PE78N.
      </p>
      </div>
  
    {# Images #}
    <div class="images">
  
      {# Image principale du produit #}
      <div class="image-principal reveal big-slide-right">
        <img src="/uploads/img/products/large/{{ model.images[0].filePath }}" alt="{{ model.name }}">
      </div>
        
      {# Disponibilité produit #}
      <div class="gallery">
        {# Images secondaires du produit #}
        <div class="previews">
          <div class="preview">
            <img src="/uploads/img/products/thumbnail/{{ model.images[0].filePath }}" alt="{{ model.name }}">
          </div>
          <div class="preview">
            <img src="/uploads/img/products/thumbnail/{{ model.images[0].filePath }}" alt="{{ model.name }}">
          </div>
          <div class="preview">
            <img src="/uploads/img/products/thumbnail/{{ model.images[0].filePath }}" alt="{{ model.name }}">
          </div>
          <div class="preview">
            <img src="/uploads/img/products/thumbnail/{{ model.images[0].filePath }}" alt="{{ model.name }}">
          </div>
          <div class="preview">
            <img src="/uploads/img/products/thumbnail/{{ model.images[0].filePath }}" alt="{{ model.name }}">
          </div>
          <div class="preview">
            <img src="/uploads/img/products/thumbnail/{{ model.images[0].filePath }}" alt="{{ model.name }}">
          </div>
          <div class="preview">
            <img src="/uploads/img/products/thumbnail/{{ model.images[0].filePath }}" alt="{{ model.name }}">
          </div>
          <div class="preview">
            <img src="/uploads/img/products/thumbnail/{{ model.images[0].filePath }}" alt="{{ model.name }}">
          </div>
          <div class="preview">
            <img src="/uploads/img/products/thumbnail/{{ model.images[0].filePath }}" alt="{{ model.name }}">
          </div>
          <div class="preview">
            <img src="/uploads/img/products/thumbnail/{{ model.images[0].filePath }}" alt="{{ model.name }}">
          </div>
          <div class="preview">
            <img src="/uploads/img/products/thumbnail/{{ model.images[0].filePath }}" alt="{{ model.name }}">
          </div>
          <div class="preview">
            <img src="/uploads/img/products/thumbnail/{{ model.images[0].filePath }}" alt="{{ model.name }}">
          </div>
          <div class="preview">
            <img src="/uploads/img/products/thumbnail/{{ model.images[0].filePath }}" alt="{{ model.name }}">
          </div>
          <div class="preview">
            <img src="/uploads/img/products/thumbnail/{{ model.images[0].filePath }}" alt="{{ model.name }}">
          </div>
          <div class="preview">
            <img src="/uploads/img/products/thumbnail/{{ model.images[0].filePath }}" alt="{{ model.name }}">
          </div>
        </div>
      </div>
    </div>
  
    <div class="details">

      {# Informations produit #}
      <div class="infos">
        <h2>Disponibilité</h2><hr>
        <p>Oui</p>
        <h2>Fiche technique</h2><hr>
        <b>Nom du produit :</b>
        {{ model.name }}
        <b>Type de produit :</b>
        Aluminium
        <b>Fabricant :</b>
        XXX
        <b>Profilé aluminium :</b>
        EN AW-6060 selon PN-EN 573-3 état T6 ou T66 selon PN-EN 515 Al Mg Si 0,5 F22 selon les normes DIN 1725 T1, DIN 17615 T1
        <b>Joints :</b>
        Caoutchouc synthétique EPDM selon la norme DIN 7863 et ISO 3302-01, E2
        <b>Dimensions max du vantail :</b>
        L 1700 x H 2200 mm, L 1300 x H 3000 mm
      </div>
    </div>
  </div>
{% endblock %}
